.chatbox {
 background: linear-gradient(
  135deg,
  rgb(14, 18, 39),
  rgb(2, 56, 110)
);
  border-style: solid;
  border-color: rgb(207, 203, 216);
  margin-top: 30px;
  box-shadow: 0 12px 28px rgba(255, 255, 255, 0.434);
}

.chatbox h1 {
text-align: center;

}

.bg-primary {
margin-right: 25px;
color: black;
}

.answer {
  background-color: rgb(179, 216, 255);
  margin-right: 25px;
  color: black;
  box-shadow: 0 12px 28px rgba(255, 255, 255, 0.244);

}

.form-control {
  background-color: white;
  padding-top:18px;
  color: black;
  margin-left: 400px;
}

textarea.form-control {
  height: 60px;
  width: 510px;
  border-radius: 8px;
}

.btn-chat {
  background-color: rgb(179, 216, 255);
  margin-left: 580px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;

}

.btn-chat:hover {
background-color: rgb(0, 166, 255);
}

.ul {
  list-style-type: none;
}

.chat {
  text-decoration: none;
}

.btn-delete {
  color: rgb(179, 216, 255);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.btn-delete:hover {
  color: #e74c3c;
}
