.artcile-img {
  position: relative;
  text-align: center;
}

.bottom-center {
  position: absolute;
  top: 275px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 35px;
  font-weight: bold;
}
