.article-img {
  position: relative;
  text-align: center;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-center {
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.text-content {
  padding: 50px 40px;
  line-height: 1.8;
  font-size: 18px;
}

.card {
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.3s ease;
    background: linear-gradient(
    135deg,
    #e3f1ff,
    #c7dbff
  );
  padding: 40px;
}

.card:hover {
  box-shadow: 0 12px 28px rgba(255, 255, 255, 0.58);
}

.container.text-white {
  color: #222;
}

.article-meta {
  font-size: 14px;
  color: #666;
}
