.artcile-img {
  position: relative;
  text-align: center;
}

.bottom-center {
  position: absolute;
  top: 220px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 35px;
  font-weight: bold;
}


.text-content {
padding-top: 55px;
padding-left: 50px;
padding-right: 50px;
}
