
<div class="container">

<% @articles.each do |article| %>

<%= article.title %>

<% end %>

<div class="row">
  <div class="col">
    <!-- ... -->
    <%= button_to "New chat", chats_path(category: params[:category]), class: "btn btn-primary" %>
  </div>
</div>
</div>
