<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


<%= link_to root_path do %>
  <img class="navbar-logo" src="https://i.imgur.com/rUDF4Dg.png" alt="Logo" />
<% end %>
    <span class="navbar-title">AI News</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto">

          <li class="nav-item active" data-controller="dropdown">

            <a class="nav-link" href="#" data-action="mouseover->dropdown#drop">Categories</a>
            
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" href="/users/sign_in">Login</a>
                <a class="dropdown-item" href="/users/sign_up">Sign-up</a>
                <a class="dropdown-item" data-turbo-method="delete" href="pages#home">Log out</a>

              </div>

          </li>

          <li class="nav-item dropdown ms-5">

            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" />

            <%= user_signed_in? ? render("shared/signed_in") : render("sahred/signing_in") %>

          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
