<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">

      <img src="https://ton.x.com/i/ton/data/grok-attachment/1993077093442125824" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sign-up</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>AI News brings all the news you want in one place</strong>!</h1>
    <p>Sign up now for the best AI curated news.</p>

  </div>
</div>
<div class="container">
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://st2.depositphotos.com/3725083/10860/i/450/depositphotos_108608722-stock-photo-football-stadium-background.jpg)">
    <p>Sport</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://img.pikbest.com/origin/09/20/88/96SpIkbEsTcJ5.jpg!w700wp)">
    <p>Tech</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://i.pinimg.com/736x/6c/d1/42/6cd14204fafbc6b244c3df091d910083.jpg)">
    <p>Science</p>
  </div>
</div>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://www.shutterstock.com/image-vector/medical-technology-diagram-featuring-interconnected-600nw-2660979751.jpg)">
    <p>Health</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images.wondershare.com/filmora/article-images/music-studio.jpg)">
    <p>Leisure</p>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://t3.ftcdn.net/jpg/11/77/89/82/360_F_1177898270_eSAhd1en5i5iHS1OMzX2YRgcTc904w0D.jpg)">
    <p>Finance</p>

</div>
