.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 50px;        /* adjust */
  height: 50px;       /* adjust */
  object-fit: cover;  /* keeps image from stretching */
  border-radius: 8px; /* your roundness */
}

